{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - GeoSAFE {% endblock %}
{% block body_class %}home{% endblock %}

{% block middle %}
  {% block hero %}
<div class="jumbotron">
  <div class="row white tagline">
      <div class="container">
        <div class="big-search">
            <h2 style="text-align: center">{% trans "Realistic Natural Hazard Impact analysis -" %}</h2>
            <h2 style="text-align: center">{% trans "InaSAFE made easy." %}</h2>
            <div class="search">
                    <form id="search" action="{% url "search" %}" >
                        <span class="fa fa-search"></span>
                        {% if HAYSTACK_SEARCH %}
                        <input id="search_input" type="text" placeholder="Search Data" class="form-control" name="q">
                        {% else %}
                        <input id="search_input" type="text" placeholder="Search Data" class="form-control" name="title__icontains">
                        {% endif %}
                    </form>
            </div>
        </div>
      <!-- container -->
      </div>
  <!-- row -->
  </div>
  <div class="row green about">
  	<div class="container">
        <table>
            <tr>
                <td>
                    <h1>{% trans "What is it all about?" %}</h1>
                </td>
                <td>
                    <a style="font-size: 32px;font-weight: 900;" class="btn btn-warning btn-lg pull-right font-white" href="{% url "geosafe:analysis-create" %}">
                        {% trans "Run Analysis" %}
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-size: 1.5em;">
                        {% trans "This platform is part of an initiative where the Government of Mozambique and the World Bank have been promoting the use of open geospatial data for government disaster risk management through the Open Data for Resilience Initiative to provide technical assistance to INGC" %}
                        {% trans "(National Disaster Management Institute) for the management and use of geospatial data to fulfil their core mandate and activities, particularly regarding contingency planning and emergency response." %}
                        {% trans "The aim is to improve the capacity to respond to disasters and to build the resilience of key public infrastructure in hazard-prone areas." %}
                    </p>
                </td>
            </tr>
        </table>
    <!-- container-->
    </div>
  <!-- row -->
  </div>
  {% include "_status_message.html" %}
  {% include "_announcements.html" %}
  {% include "_messages.html" %}
  <!-- div class="row white font-grey what-section" -->
  <div class="row white font-grey what-section">
    <div class="container">
      <!-- div class="row" -->
        <div class="green-triangle"></div>
              <table style="margin: 25px 0px;">
                  <tr>
                      <td style="vertical-align: top;">
                          <ol style="margin: 5px 50px;">
                              <li>
                                  <b>{% trans "Perform Analysis"  %}</b>
                                  <p>
                                      {% trans "Perform an InaSAFE analysis using hazard and exposure data hosted on GeoNode."  %}
                                      {% trans "Visualize the InaSAFE analysis results as a map and infographic, and as downloadable PDF reports."  %}
                                  </p>
                              </li>
                              <li>
                                  <b>{% trans "Analysis List"  %}</b>
                                  <p>
                                      {% trans "Browse previously run InaSAFE analysis results and visualize the map and report products for each analysis."  %}
                                  </p>
                              </li>
                              <li>
                                  <b>{% trans "Metasearch" %}</b>
                                  <p>
                                      {% trans "Search for datasets in other online geospatial data stores that publish their catalogues using the CSW standard." %}
                                  </p>
                              </li>
                          </ol>
                      </td>
                      <td>
                                  <h1 class="font-green">What it can do?</h1>
                          <div id='mySwipeWhat' class="swipe-what">
                              <div class='swipe-what-wrap'>
                                  <div><img width="740px" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do.png' %}"/></div>
                                  <div><img width="740px" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do_2.png' %}"/></div>
                                  <div><img width="740px" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do_3.png' %}"/></div>
                              </div>
                          </div>
                      </td>

                  </tr>
              </table>
    <!-- container -->
    </div>
  <!-- row -->
  </div>

  <div class="row green font-white safe-section">
    <div class="container">
        <div class="white-triangle"></div>
        <h1>{% trans "How to run an Analysis?" %}</h1>
              <table style="margin: 25px 0px;">
                  <tr>
                      <td>
                                  <div><img src="{% static 'ingc_geonode_theme/img/laptop-run-analysis.png' %}"/></div>
                      </td>
                      <td>
                          <ol style="margin: 5px 50px;">
                              <li>
                                  {% trans "Select an exposure layer (e.g. road, structure, population)" %}
                              </li>
                              <li>
                                  {% trans "Select a hazard layer (e.g. flood, tsunami, earthquake, volcano, and volcanic ash)" %}
                              </li>
                              <li>
                                  {% trans "Select an impact function" %}
                              </li>
                          </ol>
                            <p style="margin-left: 65px;">
                                <a style="font-size: 32px;font-weight: 900;" class="btn btn-warning btn-lg font-white" href="{% url "geosafe:analysis-create" %}">
                                    {% trans "Run Analysis" %}
                                </a>
                            </p>
                      </td>
                  </tr>
              </table>
    <!-- container -->
    </div>
  <!-- row -->
  </div>
<!-- jumbotron -->
</div>

  {% endblock %}

  {% block mainbody %}

  {% block datasets %}
  {% endblock %}

  {% block showcase %}
  {% endblock %}

  {% endblock %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript" src="{% static 'geosafe/js/swipe.js' %}"></script>
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
    var scrollTimer = 10000;
    var elemWhat = document.getElementById('mySwipeWhat');
    window.mySwipeWhat = Swipe(elemWhat, {
        auto: scrollTimer,
        continuous: true,
        callback: function(index, elemWhat) {}
    });

</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>

<style>
    .swipe-what {
        overflow: hidden;
        width: 740px;
        position: relative;
    }
    .swipe-what-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-what-wrap > div {
        float: left;
        width: 740px;
        position: relative;
    }
    img {
        width: 32px;
        height: 36px;
    }

    .extra-note {
        padding-left: 15px;
        margin-top: 20px;
        font-size: 18px;
    }

    .safe-section li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .safe-section {
        padding-top: 0px;
        padding-bottom: 50px;
        font-size: 1.5em;
    }

    .safe-section img {
        width: 90%;
        height: 0%;
    }

    .what-section img {
        width: 90%;
        height: 90%;
    }

    .safe-section {
        min-width: 320px;
    }

    .safe-section h1 {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 56px;
        font-weight: 900;
    }

    .safe-section ul {
        font-size: 20px;
        padding-top: 15px;
    }

    .safe-section p {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    a.anchor {
        display: block;
        position: relative;
        top: -75px;
        visibility: hidden;
    }

    table.tryit {
        width: 100%;
    }
    .btn-warning {
        background-color: #f6a623;
    }
    .green {
        background-color: #2aa858;
    }
    .white {
        background-color: white;
    }
    .font-white {
        color: white !important;
    }
    .font-black {
        color: black;
    }
    .font-green {
        color: #2aa858 !important;
    }
    .font-grey {
        color: #4a4a4a !important;
    }
    .about {
        padding: 50px 0;
    }
    .tagline {
        background: url(../static/ingc_geonode_theme/img/01.jpg) no-repeat;
        -webkit-background-size:100%;
        background-size:100%;
        height: 398px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    }
    .green-triangle {
        background: url(../static/ingc_geonode_theme/img/green-triangle.png) no-repeat;
        width: 40px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    .white-triangle {
        background: url(../static/ingc_geonode_theme/img/white-triangle.png) no-repeat;
        width: 40px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock extra_script %}