{% extends 'index.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans "Welcome!" %} - Resilience academy {% endblock %}
{% block body_class %}

  <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/layerslider01.jpg" >
          <div class="container">
            <div class="carousel-caption">
              <h1>{% trans "Welcome to the " %}<strong>Resilience Academy</strong>GeoNode</h1>
              <p class="lead">{% trans "Our corporate web application for creating and sharing geospatial" %}<br />
              {% trans "data and maps designed for non-GIS experts for the univeristies." %}</p>
              <a class="btn btn-primary" href="/help/">{% trans "Get Started" %}</a>
              <div class="search">
                    <form id="search" action="{% url "search" %}" >
                        {% if HAYSTACK_SEARCH %}
                        <input id="search_input" type="text" placeholder="Search Data" class="form-control" name="q">
                        {% else %}
                        <input id="search_input" type="text" placeholder="Search Data" class="form-control" name="title__icontains">
                        {% endif %}
                    </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block hero %}
<!-- <section class="social">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div class="row">
                <div class="span2"><p><a href="/layers/">{% trans "Layers" %} <span class="count">{{ facets.layers }}</span></a></p></div>
                <div class="span2"><p><a href="/maps/">{% trans "Maps" %} <span class="count">{{ facets.maps }}</span></a></p></div>
                <div class="span2"><p><a href="/documents/">{% trans "Documents" %} <span class="count">{{ facets.documents }}</span></a></p></div>
                <div class="span2"><p><a href="/people/">{% trans "Users" %} <span class="count">{{ facets.users }}</span></a></p></div>
              </div>
            </div>
            <div class="span4">
              <form class="input-append pull-right" action="{% url "search" %}" method="GET">
                {# csrf_token #}
                <input id="search" placeholder="{% trans 'Search...' %}" type="text" name="q"/>
              </form>
            </div>
          </div>
        </div>
      </section> -->
<section class="boxes">
<div class="container page">
<div class="row">
  <div class="col-md-4">
    <a href="/layers/" class="div-link">
      <div class="row">
        <div class="span1">
          <i class="icon-un"></i>
        </div>
        <div class="span3">
          <h3>{% trans "Explore Data" %}</h3>
          <p>{% trans "Click to search for geospatial data from our corporate SDI or published by other users, organizations and public sources." %}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/maps/" class="div-link">
      <div class="row">
        <div class="span1" style="text-align:center"><i class="icon-map-marker icon-4x"></i></div>
        <div class="span3">
          <h3>{% trans "Explore Maps" %}</h3>
          <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/upload/" class="div-link">
    <div class="row">
      <div class="span1"><i class="icon-cloud-upload icon-4x"></i></div>
        <div class="span3">
          <h3>{% trans "Upload Data" %}</h3>
          <p>{% trans "GeoNode allows registered users fo easily upload geospatial data in several formats including shapefile, GeoTiff and KML" %}.</p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
<div class="jumbotron">
        <div class="row green about">
            <div class="container">
              <table>
                    <tr>
                      <td colspan="2">
                          <p style="font-size: 1.5em;">
                              {% trans "This platform is part of an initiative where the Government of Mozambique and the World Bank have been promoting the use of open geospatial data for government disaster risk management through the Open Data for Resilience Initiative to provide technical assistance to INGC" %}
                              {% trans "(National Disaster Management Institute) for the management and use of geospatial data to fulfil their core mandate and activities, particularly regarding contingency planning and emergency response." %}
                              {% trans "The aim is to improve the capacity to respond to disasters and to build the resilience of key public infrastructure in hazard-prone areas." %}
                          </p>
                      </td>
                  </tr>
              </table>
          <!-- container-->
          </div>
        <!-- row -->
        </div>
        {% include "_status_message.html" %}
        {% include "_announcements.html" %}
        {% include "_messages.html" %}
        <!-- div class="row white font-grey what-section" -->
        <div class="row white font-grey what-section">
          <div class="container">
            <!-- div class="row" -->
              <div class="green-triangle"></div>
                    <table style="margin: 25px 0px;">
                        <tr>
                            <td style="vertical-align: top;">
                                <ol style="margin: 5px 50px;">
                                    <li>
                                        <b>{% trans "Perform Analysis"  %}</b>
                                        <p>
                                            {% trans "Perform an InaSAFE analysis using hazard and exposure data hosted on GeoNode."  %}
                                            {% trans "Visualize the InaSAFE analysis results as a map and infographic, and as downloadable PDF reports."  %}
                                        </p>
                                    </li>
                                    <li>
                                        <b>{% trans "Analysis List"  %}</b>
                                        <p>
                                            {% trans "Browse previously run InaSAFE analysis results and visualize the map and report products for each analysis."  %}
                                        </p>
                                    </li>
                                    <li>
                                        <b>{% trans "Metasearch" %}</b>
                                        <p>
                                            {% trans "Search for datasets in other online geospatial data stores that publish their catalogues using the CSW standard." %}
                                        </p>
                                    </li>
                                </ol>
                            </td>
                            <td>
                                        <h1 class="font-blue">What it can do?</h1>
                                <div id='mySwipeWhat' class="swipe-what">
                                    <div class='swipe-what-wrap'>
                                        <div><img width="740px" class="mySlides w3-animate-fading" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do.png' %}"/></div>
                                        <div><img width="740px" class="mySlides w3-animate-fading" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do_2.png' %}"/></div>
                                        <div><img width="740px" class="mySlides w3-animate-fading" height="503px" src="{% static 'ingc_geonode_theme/img/laptop_it_can_do_3.png' %}"/></div>
                                    </div>
                                </div>
                            </td>
      
                        </tr>
                    </table>
          <!-- container -->
          </div>
        <!-- row -->
        </div>
      
        <div class="row green font-white safe-section">
          <div class="container">
              <div class="white-triangle"></div>
              <h1>{% trans "How to run an Analysis?" %}</h1>
                    <table style="margin: 25px 0px;">
                        <tr>
                            <td>
                                        <div><img src="{% static 'ingc_geonode_theme/img/laptop-run-analysis.png' %}"/></div>
                            </td>
                            <td>
                                <ol style="margin: 5px 50px;">
                                    <li>
                                        {% trans "Select an exposure layer (e.g. road, structure, population)" %}
                                    </li>
                                    <li>
                                        {% trans "Select a hazard layer (e.g. flood, tsunami, earthquake, volcano, and volcanic ash)" %}
                                    </li>
                                    <li>
                                        {% trans "Select an impact function" %}
                                    </li>
                                </ol>
                                
                            </td>
                        </tr>
                    </table>
          <!-- container -->
          </div>
        <!-- row -->
        </div>
      <!-- jumbotron -->
      </div>
      
</section>

{% endblock %}

 
{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 pull-left">
        </div>
<!-- div class="center-block" -->
        <div class="col-md-1 col-lg-2">
          <ul class="list-unstyled">
            <li>{% trans "About" %}</li>
            <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            {% if perms.announcements.can_manage %}
            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
            {% if user.is_superuser %}
            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-2">
          <ul class="list-unstyled">
            <li>{% trans "Maps" %}</li>
            <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a></li>
            {% if user.is_authenticated %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-1">
          <ul class="list-unstyled">
            <li>{% trans "Data" %}</li>
            <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
            <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
            <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
            {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
              <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
            {% endif %}
            <li><a href="{% url "document_upload" %}">Upload Document</a></li>
            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-1">
          <ul class="list-unstyled">
              <li><a href="{% url "developer" %}">{% trans "Developers" %}</a>&nbsp;|</li>
              <li><a href="{% url "about" %}">{% trans "About" %}</a><li>
          </ul>
        </div>
          <div class="col-md-2">
                    <label class="hidden">{% trans "Language" %}</label>
              {% if csrf_token != "NOTPROVIDED" %}
              {% get_current_language as LANGUAGE %}
              <form class="form-inline" action="/i18n/setlang/" method="post">
              {% csrf_token %}
                <select class="col-md-6" name="language" onchange="javascript:form.submit()">
                  {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                    {{ lang.1 }}
                  </option>
                  {% endfor %}
                </select>
              </form>
              {% endif %}
          </div>
<!-- /div -->
        <div class="col-md-2 pull-right">

        </div>
      </div>
      <div class="row">
            <!-- <p style="font-size: small; text-align: center; margin-top: 10px">
                {% trans "To contribute to the GeoSAFE project or to report any issues," %}
                {% trans "head over to the " %}<a href="https://github.com/kartoza/geosafe"
                target="_blank">GeoSAFE</a> {% trans "repository." %}
            </p> -->
      </div>
    </div>
  </footer>
  {% endblock footer %}



{% block extra_script %}
<script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 9000);    
        }
        </script>
<style>
    .jumbotron {
  background: #ffffff;
}
    .swipe-what {
        overflow: hidden;
        width: 740px;
        position: relative;
    }
    .swipe-what-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-what-wrap > div {
        float: left;
        width: 740px;
        position: relative;
    }
    img {
        width: 100%;
    }

    .extra-note {
        padding-left: 15px;
        margin-top: 20px;
        font-size: 18px;
    }

    .safe-section li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .safe-section {
        padding-top: 0px;
        padding-bottom: 50px;
        font-size: 1.5em;
    }

    .safe-section img {
        width: 80%;
        height: 80%;
    }

    .what-section img {
        width: 90%;
        height: 90%;
    }

    .safe-section {
        min-width: 320px;
    }

    .safe-section h1 {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 56px;
        font-weight: 900;
    }

    .safe-section ul {
        font-size: 20px;
        padding-top: 15px;
    }

    .safe-section p {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    a.anchor {
        display: block;
        position: relative;
        top: -75px;
        visibility: hidden;
    }

    table.tryit {
        width: 100%;
    }
    .btn-warning {
        background-color: #f6a623;
    }
    .green {
        background-color: #2aa858;
    }
    .white {
        background-color: white;
    }
    .font-white {
        color: white !important;
    }
    .font-black {
        color: black;
    }
    .font-green {
        color: #2aa858 !important;
    }
    .font-grey {
        color: #4a4a4a !important;
    }
    .font-blue{
        color: #2c689c !important;
    }
    .about {
        padding: 50px 0;
    }
   
    .search .form-control{
        width: 40%;
        margin-left: 30%;
    margin-top: 15px;
    }
    .tagline {
        background: url({{ STATIC_URL }}geonode/img/01.jpg) no-repeat;
        -webkit-background-size:100%;
        background-size:100%;
        height: 398px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    }
    .green-triangle {
        background: url({{ STATIC_URL }}geonode/img/green-triangle.png) no-repeat;
        width: 40px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    .white-triangle {
        background: url({{ STATIC_URL }}geonode/img/white-triangle.png) no-repeat;
        width: 40px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
    background-color: #7e8c9c;

}
.container.page{
    width: 75%;
}
.w3-animate-fading{
    animation:fading 10s infinite}
    @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
    }
</style>
{% endblock extra_script %}
