{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block extra_head %}
<link href="{{ STATIC_URL }}ingc_geonode_theme/css/site_base.css" rel="stylesheet"/>
{% endblock %}

 
{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 pull-left">
          <img class="ingc-logo" src="{{ STATIC_URL }}ingc_geonode_theme/img/ingc-logo.png" />
        </div>
<!-- div class="center-block" -->
        <div class="col-md-1 col-lg-2">
          <ul class="list-unstyled">
            <li>{% trans "About" %}</li>
            <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            {% if perms.announcements.can_manage %}
            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
            {% if user.is_superuser %}
            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-2">
          <ul class="list-unstyled">
            <li>{% trans "Maps" %}</li>
            <li><a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a></li>
            {% if user.is_authenticated %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-1">
          <ul class="list-unstyled">
            <li>{% trans "Data" %}</li>
            <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a></li>
            <li><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
            <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
            {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
              <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
            {% endif %}
            <li><a href="{% url "document_upload" %}">Upload Document</a></li>
            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-1 col-lg-1">
          <ul class="list-unstyled">
              <li><a href="{% url "developer" %}">{% trans "Developers" %}</a>&nbsp;|</li>
              <li><a href="{% url "about" %}">{% trans "About" %}</a><li>
          </ul>
        </div>
          <div class="col-md-2">
                    <label class="hidden">{% trans "Language" %}</label>
              {% if csrf_token != "NOTPROVIDED" %}
              {% get_current_language as LANGUAGE %}
              <form class="form-inline" action="/i18n/setlang/" method="post">
              {% csrf_token %}
                <select class="col-md-6" name="language" onchange="javascript:form.submit()">
                  {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                    {{ lang.1 }}
                  </option>
                  {% endfor %}
                </select>
              </form>
              {% endif %}
          </div>
<!-- /div -->
        <div class="col-md-2 pull-right">
          <img class="wb-logo" src="{{ STATIC_URL }}ingc_geonode_theme/img/wb-logo.png" />

        </div>
      </div>
      <div class="row">
            <p style="font-size: small; text-align: center; margin-top: 10px">
                {% trans "To contribute to the GeoSAFE project or to report any issues," %}
                {% trans "head over to the " %}<a href="https://github.com/kartoza/geosafe"
                target="_blank">GeoSAFE</a> {% trans "repository." %}
            </p>
      </div>
    </div>
  </footer>
  {% endblock footer %}

